# Ignore Python cache files
__pycache__/
*.py[cod]
# Ignore virtual environment directories
venv/
# Ignore build directories
build/
dist/
# Ignore configuration files
*.cfg
*.ini
.env
# Ignore log files
*.log
# Ignore compiled files
*.so

# ignore le dossier brave-profile-playwright
scraping/replays/
scraping/game_parsed/
